.Skill {
  background-color: gray;
  text-align: center;
}

.Skill .inner {
  width: 80vw;
  height: 80%;
  margin: auto;
}

.skillTable {
  font-family: "LINESeedKR-Bd";
  font-size: min(2rem, 2vmin);
  display: flex;
}

.skillTable img {
  width: 5vmin;
  height: 5vmin;
}

.skillTable p {
  margin: 0;
}

.Skill .key {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Skill .value {
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2vh 0;
}

.Skill .name {
  margin: 0 2vw;
}

@media screen and (max-width: 768px) {
  .Skill .inner {
    width: 100%;
  }

  .Skill .key {
    width: 30%;
  }
}
